*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*  Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  /* Setup your "Brand" colors here to use them everywhere */
  --primary-color: #646cff;
  --bg-color: #080808;
  --text-color: #f3f5f8;
}

body {
  font-family:  Times, serif,Hanken Grotesk, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Makes fonts look "crisper" on Mac */
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Add a nice transition to all buttons */
button {
  cursor: pointer;
  border: none;
  background: none;
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.8;
}

/* Accessibility for people who have "Reduced Motion" turned on in their operating system don't get dizzy from the avimations */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* App styles */
main {
  width: 594px;
  height: 726px;
  background-color: #282726;
  padding: 73px 57px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 36px;
}

.header-section {
  border: 1px solid red;
  width: 352px;
  height: 144px;
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.headline {
  height: 66px;
  font-size: 14px;
  font-weight: 500;
  color: #8e8e8e;
  gap: 4px;
}

.headline h1 {
  color: #f9f4da;
  font-size: 20px;
}

.result {
  width: 352px;
  height: 58px;
  border: 1px dashed blue;
  padding: 6px 0px;
  background-color: #323232;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #f9f4da;
}

.lang-list {
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 3px;
  border: 1px solid red;
}

.lang-btn {
  color: #f9f4da;
  border-radius: 3px;
  padding: 4px;
  /* height: 25px; */
  /* font-family: Hanken Grotesk; */
  font-weight: 600;
}

#html {
  background-color: #e2680f;
}

#css {
  background-color: #328af1;
}

#javascript {
  background-color: #f4eb13;
  color: #282726;
}

#react {
  background-color: #2ed3e9;
}

#typescript {
  background-color: #298ec6;
}

#nodejs {
  background-color: #599137;
}

#python {
  background-color: #ffd742;
  color: #282726;
}

#ruby {
  background-color: #d02b2b;
}

#assembly {
  background-color: #2d519f;
}

.word {
  width: 334px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.letter-box {
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #f9f4da;
  background-color: #323232;
  padding: 6px;
  gap: 6px;
  color: #f9f4da;
  /* font-family: Hanken Grotesk; */
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  font-size: 18px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 480;
  padding-top: 16px;
  border: 1px solid blue;
}

.keyboard button{
  width: 40;
  height: 40;
  /* Force the boxes to be exactly 40*40 */
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /* opacity: 1; */
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #d7d7d7;
  background-color: #fcba29;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #1E1E1E;
}

.new-game{
 margin: 20px; 
}

.new-game button{
width: 228px;
height: 40px;
padding-top: 6px;
padding-right: 12px;
padding-bottom: 6px;
padding-left: 12px;
border-radius: 4px;
border: 1px solid #D7D7D7;
background-color: #11B5E5;
font-family: Hanken Grotesk;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 100%;
text-align: center;


}
