
*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  /* Setup your "Brand" colors here to use them everywhere */
  --primary-color: #646cff;
  --bg-color: #ffffff;
  --text-color: #213547;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Makes fonts look "crisper" on Mac */
  background-color: var(--bg-color);
  color: var(--text-color);
}


a {
  text-decoration: none;
  color: inherit;
}

/* Add a nice transition to all buttons */
button {
  cursor: pointer;
  border: none;
  background: none;
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.8;
}

/* Accessibility for people who have "Reduced Motion" turned on in their operating system don't get dizzy from the avimations */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}